body{
    margin: 0 auto;
}
.navbar
{
    margin: 0 auto;
    width: 100%;
}
nav{
    background-color: #56AA7A;
    width:1520px;
    height: 10%;
    margin-top: 0 auto;
    border-top: 0 auto;
    padding-top: 0 auto;
}
p{
    color:	#56AA7A;
    margin:0 auto;
}
/**-----------------SEÇÃO 1---------------------**/
.parte01{
    margin-left: -800px;
}
.header
{
    display: flex;
    width: 50%;
    height: 50%;
}
.fundo01
{
    width: 1520px;
    height: 600px;
}

.mão{
    margin-left: -50px;
    margin-top: 96px;
}
.parte01{
    margin-left: -900px;
}
h1{
    font-family: 'Pacifico', cursive;
    font-size: 40pt;
    margin-left: -350px;
    margin-top: 160px;
    color: white;
    font-style: normal;
}
.ponto{
    margin: 10%;
    font-size: 50pt;
    padding-top: 1%;
    width: 15px;
    height: 5px;
    margin-left: -200px;
    margin-top: -130px;
}
h2{
    font-family: 'Roboto',sans-serif;
    font-size: 15pt;
    margin-left: -350px;
    margin-top: 80px;
    margin-right: 100px;
    color: white;
}
.icon-01{
    background-color: rgba(0,0,0,0.5);
    border-radius: 100%;
    margin-left: -350px;
    margin-right: 500px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    width: 50px;
    height: 50px;
}
.ios{
    width: 30px;
    height: 30px;
    margin-top: 7px;
}
.icon-02{
    background-color: rgba(0,0,0,0.5);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    margin-left: -280px;
    margin-top: -50px;
    display: flex;
    justify-content: center;
}
#android
{
    width: 30px;
    margin-top: 7px;
    height: 35px;
}
.icon-03{
    width: 45px;
    margin-top: -55px;
}
.wind
{
    margin-left: -210px;
    width: 58px;

}
/**-----------------SEÇÃO 2---------------------**/
.icones{
    width:1520px;
    height: 300px;
    display:flex;
    justify-items: center;
    align-content: space-between;
}
.parte1
{
width: 34%;
display: flex;
justify-content: center;
align-items: center;
flex-direction:column;
}
.imagem1
{
    background-color: #56AA7A;
    border-radius: 100%;
    width: 60px;
    height: 60px;
}
#um{
    width: 40px;
    margin-left:10px;
    margin-top: 10px;
}
.titulo1
{
    color:black;
    font-family: 'Roboto';
}
.texto1
{
    color:black;
    margin-right: 40px;
    margin-left: 30px;
    font-family: 'Roboto';
}
.parte2
{
width: 34%;
display:flex;
justify-content: center;
align-items: center;
flex-direction:column;
}
.imagem2
{
    background-color: #56AA7A;
    border-radius: 100%;
    width: 60px;
    height: 60px;
}
#dois{
    width: 40px;
    margin-left:10px;
    margin-top: 10px;
}
.titulo2
{
    color:black;
    font-family: 'Roboto';
}
.texto2
{
    color:black;
    margin-right: 40px;
    margin-left: 40px;
    font-family: 'Roboto';
}
.parte3
{
width: 34%;
display:flex;
justify-content: center;
align-items: center;
flex-direction:column;
}
.imagem3
{
    background-color: #56AA7A;
    border-radius: 100%;
    width: 60px;
    height: 60px;
}
#tres{
    width: 40px;
    margin-left:10px;
    margin-top: 10px;
}
.titulo3
{
    color:black;
    font-family: 'Roboto';
}
.texto3
{
    color:black;
    margin-right: 40px;
    margin-left: 40px;
    font-family: 'Roboto';
}
/**-----------------SEÇÃO 3---------------------**/
.texto-video
{
background-color: #E3E3E3;
width:1520px;
height: 350px;
}
.parte1-03
{
    width: 500px;
    margin-left: 200px;
    font-family: 'Roboto';
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-content: space-between;
}
.titulo-sec03{
margin-top:50px;
}
input{
    border: hidden;
    height: 40px;
    width: 200px;
    border-radius: 10%;
}
.video
{
    width: 400px;
    margin-left: 800px;
    margin-top: -230px;
}
button{
    font-size: 12pt;
    background-color: #56AA7A;
    width: 70px;
    height: 40px;
    border: hidden;
    border-radius: 15%;
    font-family: 'Roboto';
    margin-left: -5px;
    color:white
}
/**-----------------SEÇÃO 4---------------------**/
.pessoas
{
display: flex;
align-items: center;
justify-items: center;
flex-direction: column;
}
.txt
{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
}
.texto1-4
{
    color: black;
    font-family: 'Roboto';
}
.titulo1-4
{
    color: black;
    font-family: 'Roboto';
}
.texto2-4
{
    color: black;
    font-family: 'Roboto';
}
.titulo2-4
{
    color: black;
    font-family: 'Roboto';
}
.imagem2-4
{
    width: 300px;
}
/**-----------------Footer---------------------**/
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #E3E3E3;
}
.ft{
    margin-right: 15px ;
    margin-left: 15px;
    color: dimgrey; ;
}
